<div class="row">
  <div class="col-md-10 col-md-offset-1 about-column col-sm-12">
    <h1>About Me</h1>
    <p>
      Before I discovered my love for development, I was working for a valet company in my hometown of Nashville, Tennessee. Being a valet, I was working as part of a team about 75% of the time. Much of this time was spent managing the team, making appropriate staff cuts, dealing with any customer service issues, and facilitating communication between my employers and the management teams at the establishments at which I was working. The other 25% of the time, I was working by myself, performing opening and closing duties in addition to all the previously mentioned tasks.
    </p>
    <p>
      For my high school years, I attended an arts-oriented magnet high school, which is appropriately named Nashville School of the Arts. For three of my four years enrolled there, I studied visual arts. I became familiar with many design-related concepts, from color theory and psychology to perspective, and implemented these concepts regularly in projects.
    </p>
    <p>
      In the very near future, I will be completing a five-week internship, and thus also becoming a graduate of Epicodus, where I have completed over 1000 hours of programming. Epicodus has taught me many valuable skills, including how to work with a pair or team, as well as how to do my own research to find solutions to problems.
    </p>
  </div>
</div>
