<div class="row">
  <div class="container">
    <div class="row">
      <h1>Recently Updated GitHub Projects</h1><hr>
      <% @parsed_response[0..8].each do |repo| %>
        <%= link_to repo["html_url"], target: :_blank do %>
          <div class="col-sm-4 repo-column">
            <h2><%= repo["name"] %></h2><br>
            <p><%= repo["description"] %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
