/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

$base_green : #49B56A;

body {
  background-color: #444;
  color: #ddd;
}

.main-theme {
  height: 100vh;
  width: auto;
  background: linear-gradient( 40deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), image-url('bridge-bg.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 5%;
}
nav.navbar {
  padding-right: 1%;
  background-color: rgba(100, 100, 100, 0.2) !important;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
}

.nav-list li a, .navbar-brand {
 color: #eee !important;
}

.nav-list li a:hover, .navbar-brand:hover {
 color: #333 !important;
}

.about-column {
  color: #ccc;
  background-color: rgba(50, 50, 50, 0.8);
}

.repo-column {
  color: #ccc;
  height: 20vh;
  width: 31%;
  background-color: rgba(50, 50, 50, 0.6);
  margin: 1%;
}

.repo-column:hover {
  background-color: rgba(50, 50, 50, 0.8);
  color: #aaa;
  text-decoration: none;
}

.alt-theme {
  background: linear-gradient( 40deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), image-url('pinecone-bg.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 5%;
  color: $base_green;
}

.alt-theme .row .repo-column, .alt-theme .row .about-column {
  color: $base_green;
}

.alt-theme .nav-list li a {
 color: $base_green !important;
}
